* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #f17390;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: white;
}

.header {
  background-color: teal;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

img {
  background-color: white;
}

.header:after {
  content: '';
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.button {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.button:hover {
  background-color: #bbb;
}

svg {
    padding: 5px;
    align-items: center;
}
svg:hover {
    fill: rgb(24, 104, 207);
      cursor: pointer;
      
}
#heart {
    animation: kalpatisi 2s cubic-bezier(0.32, 0, 0.67, 0) 0s infinite normal
        forwards;
          fill: rgb(185, 28, 28);
          
}
@keyframes kalpatisi {
  0% {
        animation-timing-function: ease-out;
            transform: scale(1);
                transform-origin: center center;
                  
  }

  10% {
        animation-timing-function: ease-in;
            transform: scale(0.91);
              
  }

  17% {
        animation-timing-function: ease-out;
            transform: scale(1.2);
              
  }

  33% {
        animation-timing-function: ease-in;
            transform: scale(0.87);
              
  }

  45% {
        animation-timing-function: ease-out;
            transform: scale(1);
              
  }
  
}
footer{

  display: flex;
  justify-content: center;
  background: #F79361;
  align-items: center;
}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
}
h6{
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  padding: 10px;
  margin-top: 5px;
}